<header th:fragment="header">
    <!-- header inner -->
    <div class="head-top">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-sm-2">
                    <ul class="text_align_left">
                        <li><button class="openbtn" onclick="openNav()"><img th:src="@{/images/menu_btn.png}"></button></li>
                    </ul>
                </div>
                <div class="col-sm-8 email text_align_center">
                    <div class="logo">
                        <a href="index.html">Prode Champions</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <ul class="email text_align_right">
                        <form th:method="post" th:action="@{/logout}">
                            <li class="d_none">
                                <a href="Javascript:void(0)" onclick="parentNode.parentNode.submit()">
                                    <i class="fa fa-user" aria-hidden="true"></i>

                                </a>
                            </li>
                        </form>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>