<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <ul class="nav nav-pills" th:fragment="menu">
        <li role="presentation" class="active"><a th:href="@{/}">POSICIONES</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                ADMIN <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/equipo}" th:text="Equipos"/></li>
                <li><a th:href="@{/participante}" th:text="Participantes"/></li>
                <li><a th:href="@{/partido}" th:text="Partidos"/></li>

            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                RESULTADOS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/partido?fase=FECHA1}">FECHA 1</a></li>
                <li><a th:href="@{/partido?fase=FECHA2}">FECHA 2</a></li>
                <li><a th:href="@{/partido?fase=FECHA3}">FECHA 3</a></li>
                <li><a th:href="@{/partido?fase=FECHA1}">FECHA 4</a></li>
                <li><a th:href="@{/partido?fase=FECHA1}">FECHA 5</a></li>
                <li><a th:href="@{/partido?fase=FECHA1}">FECHA 6</a></li>
                <li><a th:href="@{/partido?fase=OCTAVOS}">OCTAVOS</a></li>
                <li><a th:href="@{/partido?fase=CUARTOS}">CUARTOS</a></li>
                <li><a th:href="@{/partido?fase=SEMIS}">SEMIS</a></li>
                <li><a th:href="@{/partido?fase=FINAL}">FINAL</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                PRONOSTICOS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/pronostico?faseEnum=FECHA1}">EMMA</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosFer.php">FER</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosLechu.php">FEDE</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosAldo.php">ALDO</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosMosca.php">MOSCA</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosSeba.php">SEBA</a></li>
                <li><a href="https://prodechampions2018.000webhostapp.com/Pantallas/PronosticosGenerales.php">GENERALES</a></li>
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Separated link</a></li>-->
            </ul>
        </li>
    </ul>

</body>
</html>