<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>

<body>
<div th:replace="layout/menu :: menu"></div>
<header th:replace="layout/header :: header"></header>

<div class="works">
    <div class="container">
        <div class="row">
            <a th:href="@{/equipo}" role="button">
                EQUIPO
            </a>
        </div>
        <div class="row">
            <form th:action="@{/equipo/guardar}" method="post" th:object="${equipo}">

                <input type="hidden" name="id" id="id" th:field="*{id}">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
                </br>
                <label>Foto: </label>
                <input type="file" name="image" accept="image/png, image/jpeg" />
                </br>
                <input type="submit" name="guardar" value="Guardar" />
            </form>
        </div>
    </div>
</div>
</body>
</html>