<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8">
    <title>Participante</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<br>

<a th:href="@{/partido}" role="button">
    PARTIDO
</a>
</br>
<form th:action="@{/partido/guardar}" method="post" th:object="${partido}">

    <input type="hidden" name="id" id="id" th:field="*{id}">
    <label for="local">Local</label>
    <select class="form-control" name="local"
            id="local">
        <option value="">Seleccionar Equipo</option>
        <option th:each="equipo : ${equipos}" th:value="${equipo.id}"
                th:text="${equipo.nombre}"
                th:selected="${partido.local == null} ? 'false' :  ${equipo.id == partido.local.id}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('local')}" th:errors="*{local}">Error Local</span>
    <label for="visitante">Visitante</label>
    <select class="form-control" name="visitante"
            id="visitante">
        <option value="">Seleccionar Equipo</option>
        <option th:each="equipo : ${equipos}" th:value="${equipo.id}"
                th:text="${equipo.nombre}"
                th:selected="${partido.local == null} ? 'false' :  ${equipo.id == partido.visitante.id}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('visitante')}" th:errors="*{visitante}">Error Visitante</span>
    </br>
    <label for="fecha">Fecha</label>
    <input type="date" name="fecha" id="fecha" th:field="*{fecha}">
    <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Error Fecha</span>
    </br>
    <label for="fase">Fase</label>
    <select class="form-control" name="visitante" th:field="*{fase}"
            id="fase">
        <option value="">Seleccionar Fase</option>
        <option th:each="fase : ${fases}" th:value="${fase}"
                th:text="${fase.value}"
                th:selected="${partido.fase == null} ? 'false' :  ${fase.name == partido.fase}"
        >
        </option>
    </select>
    <span th:if="${#fields.hasErrors('fase')}" th:errors="*{fase}">Error Fase</span>
    </br>
    <input type="submit" name="guardar" value="Guardar" />
</form>

</body>
</html>