<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>

<body>

    <!-- Topbar Start -->
    <div th:replace="layout/header :: header"></div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div th:replace="layout/menu :: menu"></div>
    <!-- Navbar End -->

    <!-- main -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">Partidos Fecha</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nro</th>
                            <th></th>
                            <th>Local</th>
                            <th style="width:150px">Goles Local</th>
                            <th style="width:150px">Goles Visitante</th>
                            <th>Visitante</th>
                            <th></th>
                            <th>Fecha</th>
                            <th>Fase</th>
                            <th></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        </tr>
                        </thead>
                        <tr th:each="partido, iStat: ${partidos}">
                            <td th:text="${iStat.index} + 1" />
                            <td></td>
                            <td th:text="${partido.local.nombre}" />
                            <td th:text="${partido.golesLocal}" />
                            <td th:text="${partido.golesVisitante}" />
                            <td th:text="${partido.visitante.nombre}" />
                            <td></td>
                            <td th:text="${#dates.format(partido.fecha, 'dd-MM-yyyy')}"/>
                            <td th:text="${partido.fase.value}"/>
                            <td></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <input type="button" th:onclick="'window.location.href = \'' + @{/partido/{id}(id=${partido.id})} + '\''" class="btn btn-primary btn-sm" th:value="Modificar"/>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <input type="button" th:onclick="'window.location.href = \'' + @{/partido/eliminar/{id}(id=${partido.id})} + '\''" class="btn btn-primary btn-sm" th:value="Eliminar"/>
                            </td>
                        </tr>
                        <td></td>
                        <td style='padding-left: 75px;'></td>
                        <td style='padding-left: 75px;'></td>
                        <td></td>
                    </table>
                    <input type="button" th:onclick="window.location.href='/partido/nuevoPartido'" class="btn btn-primary btn-sm" th:value="Nuevo"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>