<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PARTIDOS</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<ul th:replace="layout/menu :: menu"></ul>

<h1>Resultados de Partidos Fecha
    <!--?php
				if(isset($_GET['desde'])){
					$desde = $_GET['desde'];
				}else{
					$desde = 0;
				}
				$desde = ($desde / 16) + 1;
				if($desde == 7){
					$desde = "OCTAVOS";
				}

				if($desde == 8){
					$desde = "CUARTOS";
				}

				if($desde == 9){
					$desde = "SEMIS";
				}

				if($desde == 10){
					$desde = "FINAL";
				}

				echo $desde;
		?-->
</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nro</th>
        <th></th>
        <th>Local</th>
        <th style="width:150px">Goles Local</th>
        <th style="width:150px">Goles Visitante</th>
        <th>Visitante</th>
        <th></th>
        <th>Fecha</th>
        <th></th>
    </tr>
    </thead>
    <!--?php
				$hoy = date('Y-m-d');
				if(isset($_GET['desde'])){
					$desde = $_GET['desde'];
				}else{
					$desde = 0;
				}

				$registrosPartidos=mysqli_query($conexion,"select idPartido, idLocal, idVisitante, golesLocal, golesVisitante, fecha from partidos LIMIT ".$desde.", 16") or
						die("Problemas en el select:".mysqli_error($conexion));
				$i = 1;
				while ($reg=mysqli_fetch_array($registrosPartidos))	{

					echo "<tr>";
    echo "<td>". $i."</td>";
    $registrosLocal=mysqli_query($conexion,"select  nombre from equipos where id=".$reg['idLocal']) or
    die("Problemas en el select:".mysqli_error($conexion));
    while ($regLocal=mysqli_fetch_array($registrosLocal))	{
    ?-->
    <td><img src="/imagenes/equipos/<?php  echo $reg['idLocal']	?>.png" style="width:25px;height:25px;"></td>
    <!--?php
						echo "<td>". $regLocal['nombre']."</td>";
    }
    ?-->
    <td style='padding-left: 75px;'><?php  echo $reg['golesLocal']?></td>
    <td style='padding-left: 75px;'><?php  echo $reg['golesVisitante']?></td>
    <!--?php
					$registrosVisitante=mysqli_query($conexion,"select  nombre from equipos where id=".$reg['idVisitante']) or
					die("Problemas en el select:".mysqli_error($conexion));
					while ($regVisi=mysqli_fetch_array($registrosVisitante))	{
						echo "<td>". $regVisi['nombre']."</td>";
    }
    ?-->
    <td><img src="/imagenes/equipos/<?php  echo $reg['idVisitante']	?>.png" style="width:25px;height:25px;"></td>
    <!--?php
					echo "<td style='padding-left: 40px;padding-right: 40px' >". date("d/m/Y", strtotime($reg['fecha']))."</td>";
    $date = date('Y-m-j');
    $manana = strtotime ( '+1 hour' , strtotime ( $date ) ) ;
    $manana = date ( 'Y-m-j' , $manana );
    if(strtotime($reg['fecha']) <=  strtotime($manana)){

    ?-->
    <!--td><input type="button" class="btn btn-primary btn-sm" value="Ver Pronosticos"
               onclick=window.open("PronosticosPorPartido.php?partido=<!?php echo $reg['idPartido']?>","","width=600");
        ?php
					}
						echo "<tr>";
        $i++;
        }
        ?-->
</table>
</body>
</html>
