<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PARTICIPANTES</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="layout/menu :: menu"></div>
    <header th:replace="layout/header :: header"></header>

    <div class="works">
        <div class="container">
            <div class="row">
                <h1 class="titulo">PARTICIPANTES</h1>
            </div>
            <div class="row">
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>Caripela</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>

                    <tr th:each="participante, iStat: ${participantes}">
                        <td />
                        <td th:text="${participante.username}" />
                        <td th:text="${participante.nombre}" />
                        <td th:text="${participante.apellido}" />
                        <td>
                            <input type="button" th:onclick="'window.location.href = \'' + @{/participante/{id}(id=${participante.id})} + '\''" class="btn btn-primary btn-sm" th:value="Modificar"/>
                        </td>
                        <td>
                            <input type="button" th:onclick="'window.location.href = \'' + @{/participante/eliminar/{id}(id=${participante.id})} + '\''" class="btn btn-primary btn-sm" th:value="Eliminar"/>
                        </td>
                    </tr>
                </table>
                <a th:href="@{/participante/nuevoParticipante}" th:text="Nuevo" />
            </div>
        </div>
    </div>

</body>
</html>