<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>

<body>

<!-- Topbar Start -->
<div th:replace="layout/header :: header"></div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div th:replace="layout/menu :: menu"></div>
<!-- Navbar End -->

<!-- main -->
<div class="container-fluid pt-5 mb-3">
    <div class="container">
        <div class="section-title">
            <h4 class="m-0 text-uppercase font-weight-bold">EQUIPO</h4>
        </div>
        <div class="owl-carousel news-carousel carousel-item-4 position-relative">
            <div class="position-relative overflow-hidden">
                <form th:action="@{/participante/guardar}" method="post" th:object="${participante}">
                    <input type="hidden" name="id" id="id" th:field="*{id}">
                    <table>
                        <tr>
                            <td><label for="username">Username</label></td>
                            <td><input type="text" name="username" id="username" th:field="*{usuario.username}">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{usuario.username}">Error nombre</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="nombre">Password</label></td>
                            <td><input type="password" name="password" id="password" th:field="*{usuario.password}">
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{usuario.password}">Error nombre</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="nombre">Nombre</label></td>
                            <td><input type="text" name="nombre" id="nombre" th:field="*{nombre}">
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="apellido">Apellido</label></td>
                            <td><input type="text" name="apellido" id="apellido" th:field="*{apellido}">
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error apellido</span>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input type="email" name="email" id="email" th:field="*{email}"></td>
                        </tr>
                        <tr>
                            <td><label>Foto: </label></td>
                            <td><input type="file" name="foto" accept="image/png, image/jpeg" /></td>
                        </tr>
                    </table>
                    <input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" name="guardar" value="Guardar" />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>