<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head :: head"></head>

<body>

    <!-- Topbar Start -->
    <div th:replace="layout/header :: header"></div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div th:replace="layout/menu :: menu"></div>
    <!-- Navbar End -->

    <!-- main -->
    <div class="container-fluid pt-5 mb-3">
        <div class="container">
            <div class="section-title">
                <h4 class="m-0 text-uppercase font-weight-bold">PARTICIPANTES</h4>
            </div>
            <div class="owl-carousel news-carousel carousel-item-4 position-relative">
                <div class="position-relative overflow-hidden">
                    <table class="table table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>Caripela</th>
                            <th>Username</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                        </tr>
                        </thead>

                        <tr th:each="participante, iStat: ${participantes}">
                            <td />
                            <td th:text="${participante.username}" />
                            <td th:text="${participante.nombre}" />
                            <td th:text="${participante.apellido}" />
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <input type="button" th:onclick="'window.location.href = \'' + @{/participante/{id}(id=${participante.id})} + '\''" class="btn btn-primary btn-sm" th:value="Modificar"/>
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <input type="button" th:onclick="'window.location.href = \'' + @{/participante/eliminar/{id}(id=${participante.id})} + '\''" class="btn btn-primary btn-sm" th:value="Eliminar"/>
                            </td>
                        </tr>
                    </table>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/participante/nuevoParticipante}" th:text="Nuevo" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>