<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PARTICIPANTES</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <ul th:replace="layout/menu :: menu"></ul>

    <h1>POSICIONES</h1>
    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Caripela</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
        </thead>

        <tr th:each="participante, iStat: ${participantes}">
            <td th:text="${participante.id}" />
            <td />
            <td th:text="${participante.nombre}" />
            <td th:text="${participante.apellido}" />
            <td> <a th:href="@{/participante/} + ${participante.id}" th:text="Modificar" /> </td>
            <td> <a th:href="@{participante/eliminar/} + ${participante.id}" th:text="Eliminar" /> </td>
        </tr>
    </table>
    <a th:href="@{/participante/nuevoParticipante}" th:text="Nuevo" />
    <a th:href="@{/}" th:text="Volver" />

</body>
</html>