<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8">
    <title>Participante</title>

    <!-- Bootstrap -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</head>

<form th:action="@{/participante/guardar}" method="post" th:object="${participante}">

    <input type="hidden" name="id" id="id" th:field="*{id}">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" th:field="*{nombre}">
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
    </br>
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" id="apellido" th:field="*{apellido}">
    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error apellido</span>
    </br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" th:field="*{email}">
    </br>
    <label>Foto: </label>
    <input type="file" name="foto" accept="image/png, image/jpeg" />
    </br>
    <input type="submit" name="guardar" value="Guardar" />
</form>

</body>
</html>