<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PARTIDOS</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<ul th:replace="layout/menu :: menu"></ul>

<h1>Partidos Fecha</h1>

<form th:action="@{/pronostico/guardar?faseEnum=} + ${fase}" method="post" th:object="${form}">
    <table class="table">
        <thead>
        <tr>
            <th>Nro</th>
            <th></th>
            <th>Local</th>
            <th style="width:150px">Goles Local</th>
            <th style="width:150px">Goles Visitante</th>
            <th>Visitante</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="pronostico, itemStat: *{pronosticos}">
            <input type="hidden" th:name="|pronosticos[${itemStat.index}].id|" th:field="*{pronosticos[__${itemStat.index}__].id}">
            <td th:text="${itemStat.index} + 1" />
            <td></td>
            <td th:text="${pronostico.local}"/>
            <td><input th:name="|pronosticos[${itemStat.index}].local.golesLocal|" th:field="*{pronosticos[__${itemStat.index}__].golesLocal}"></td>
            <td><input th:name="|pronosticos[${itemStat.index}].local.golesVisitante|" th:field="*{pronosticos[__${itemStat.index}__].golesVisitante}"></td>
            <td th:text="${pronostico.visitante}"/>
            <td></td>
        </tr>

        <td></td>
        <td style='padding-left: 75px;'></td>
        <td style='padding-left: 75px;'></td>
        <td></td>
    </table>
    <input class="btn btn-primary btn-sm" type="submit">
</form>
</body>
</html>
